<main>
  <section class="user_task_wrapper">
    <div class="row align-items-center justify-content-between mb-4">
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
        <div>
          <span class="task_table_title">Notification</span>
        </div>
      </div>
      <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12">
        <!-- <div class="row">
          <div class="col-3">
            <div class="task_multiselect">
              <ng-multiselect-dropdown
                id="two"
                name="user"
                placeholder="Select User"
                [settings]="dropdownSettings2"
                [data]="user"
                [formControlName]="'selectedItems2'"
              >
                <ng-template
                  #optionsTemplate
                  let-item
                  let-option="option"
                  let-id="id"
                  let-isSelected="isSelected"
                >
                  <div
                    style="
                      padding: 1px 10px;
                      margin-right: 10px;
                      right: 2px;
                      top: -2px;
                    "
                  ></div>
                </ng-template>
                <ng-template
                  #optionSelectedTemplate
                  let-option="option"
                  let-id="id"
                >
                  <div>
                    {{ option }}
                  </div>
                </ng-template>
              </ng-multiselect-dropdown>
            </div>
          </div>
          <div class="col-3">
            <div class="task_multiselect">
              <ng-multiselect-dropdown
                id="two"
                name="task"
                placeholder="Select Module"
                [settings]="dropdownSettings2"
                [data]="task"
                [formControlName]="'selectedItems2'"
              >
                <ng-template
                  #optionsTemplate
                  let-item
                  let-option="option"
                  let-id="id"
                  let-isSelected="isSelected"
                >
                  <div
                    style="
                      padding: 1px 10px;
                      margin-right: 10px;
                      right: 2px;
                      top: -2px;
                    "
                  ></div>
                </ng-template>
                <ng-template
                  #optionSelectedTemplate
                  let-option="option"
                  let-id="id"
                >
                  <div>
                    {{ option }}
                  </div>
                </ng-template>
              </ng-multiselect-dropdown>
            </div>
          </div>
          <div class="col-3">
            <mat-form-field>
                <mat-date-range-input [rangePicker]="picker">
                  <input matStartDate placeholder="Start date">
                  <input matEndDate placeholder="End date">
                </mat-date-range-input>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
              </mat-form-field>
          </div>
        </div> -->
      </div>
    </div>

    <div class="discussion_tab">
      <div class="d-flex justify-content-between">
        <!-- <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="General-tab" data-bs-toggle="tab" data-bs-target="#General"
                type="button" role="tab" aria-controls="General" aria-selected="true">
                Unread
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="Task-tab" data-bs-toggle="tab" data-bs-target="#Task" type="button" role="tab"
                aria-controls="Task" aria-selected="false">
                Read
              </button>
            </li>
          </ul>
          <div>
            <button class="add_task_btn" id="markAll">Mark All</button>
            <button class="add_task_btn" id="clearAll">Clear All</button>
          </div> -->
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link" [ngClass]="{'active': activeTab === 'General'}" (click)="setActiveTab('General')"
              type="button" role="tab" aria-controls="General" aria-selected="true" id="General-tab"
              data-bs-toggle="tab" data-bs-target="#General">
              Unread
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" [ngClass]="{'active': activeTab === 'Task'}" (click)="setActiveTab('Task')"
              type="button" role="tab" aria-controls="Task" aria-selected="false" id="Task-tab" data-bs-toggle="tab" data-bs-target="#Task">
              Read
            </button>
          </li>
        </ul>
        <div>
          <button class="add_task_btn" *ngIf="activeTab === 'General'" id="markAll" (click)="notificationMarkAll()">Mark All</button>
          <button class="add_task_btn" *ngIf="activeTab === 'Task'" id="clearAll" (click)="notificationclearAll()">Clear All</button>
        </div>

      </div>
      <div class="tab-content mt-4" id="myTabContent">
        <div class="tab-pane" [ngClass]="{ 'show active': activeTab === 'General', 'fade': activeTab !== 'General' }" id="General" role="tabpanel" aria-labelledby="General-tab">
          <div class="notification_card" *ngFor="let notification of pagedUnreadNotifications; let i = index">
            <a href="projects-detail/{{notification.common_id}}" class="text-decoration-none"
              *ngIf="notification.is_setModule == 'project'">
              <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex gap-2 align-items-center">
                  <!-- <div class="notify_user_short_name">MG</div> -->
                  <p class="notification_content">
                    {{notification.massage}}
                  </p>
                </div>
                <p class="notify_date">{{notification.date}} | {{notification.time}}</p>
              </div>
            </a>
            <a href="view-task/{{notification.common_id}}" class="text-decoration-none"
              *ngIf="notification.is_setModule == 'task'">
              <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex gap-2 align-items-center">
                  <!-- <div class="notify_user_short_name">MG</div> -->
                  <p class="notification_content">
                    {{notification.massage}}
                  </p>
                </div>
                <p class="notify_date">{{notification.date}} | {{notification.time}}</p>
              </div>
            </a>
            <a href="notes" class="text-decoration-none" *ngIf="notification.is_setModule == 'note'">
              <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex gap-2 align-items-center">
                  <!-- <div class="notify_user_short_name">MG</div> -->
                  <p class="notification_content">
                    {{notification.massage}}
                  </p>
                </div>
                <p class="notify_date">{{notification.date}} | {{notification.time}}</p>
              </div>
            </a>
            <div class="text-decoration-none" *ngIf="notification.is_setModule != 'project' && notification.is_setModule != 'task' && notification.is_setModule != 'note'">
              <div class="d-flex justify-content-between align-items-center">
                <p class="notification_content">{{notification.massage}}</p>
                <p class="notify_date">{{notification.date}} | {{notification.time}}</p>
              </div>
            </div>
          </div>
          <div class="pagination_bar" *ngIf="(notificationlistUnRead?.length || 0) > itemsPerPage">
            <button class="pagination_btn" (click)="prevUnreadPage()" [disabled]="unreadCurrentPage === 1">Previous</button>
            <span class="pagination_text">Page {{ unreadCurrentPage }} of {{ unreadTotalPages }}</span>
            <button class="pagination_btn" (click)="nextUnreadPage()" [disabled]="unreadCurrentPage === unreadTotalPages">Next</button>
          </div>


        </div>
        <div class="tab-pane" [ngClass]="{ 'show active': activeTab === 'Task', 'fade': activeTab !== 'Task' }" id="Task" role="tabpanel" aria-labelledby="Task-tab">
          <div class="notification_card" *ngFor="let notificationread of pagedReadNotifications; let i = index">
            <a href="projects-detail/{{notificationread.common_id}}" class="text-decoration-none"
              *ngIf="notificationread.is_setModule == 'project'">
              <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex gap-2 align-items-center">
                  <!-- <div class="notify_user_short_name">MG</div> -->
                  <p class="notification_content">
                    {{notificationread.massage}}
                  </p>
                </div>
                <p class="notify_date">{{notificationread.date}} | {{notificationread.time}}</p>
              </div>
            </a>
            <a href="projects-detail/{{notificationread.common_id}}" class="text-decoration-none"
              *ngIf="notificationread.is_setModule == 'team'">
              <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex gap-2 align-items-center">
                  <!-- <div class="notify_user_short_name">MG</div> -->
                  <p class="notification_content">
                    {{notificationread.massage}}
                  </p>
                </div>
                <p class="notify_date">{{notificationread.date}} | {{notificationread.time}}</p>
              </div>
            </a>
            <a href="view-task/{{notificationread.common_id}}" class="text-decoration-none"
              *ngIf="notificationread.is_setModule == 'task'">
              <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex gap-2 align-items-center">
                  <!-- <div class="notify_user_short_name">MG</div> -->
                  <p class="notification_content">
                    {{notificationread.massage}}
                  </p>
                </div>
                <p class="notify_date">{{notificationread.date}} | {{notificationread.time}}</p>
              </div>
            </a>
            <a href="notes" class="text-decoration-none" *ngIf="notificationread.is_setModule == 'note'">
              <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex gap-2 align-items-center">
                  <!-- <div class="notify_user_short_name">MG</div> -->
                  <p class="notification_content">
                    {{notificationread.massage}}
                  </p>
                </div>
                <p class="notify_date">{{notificationread.date}} | {{notificationread.time}}</p>
              </div>
            </a>
            <div class="text-decoration-none" *ngIf="notificationread.is_setModule != 'project' && notificationread.is_setModule != 'team' && notificationread.is_setModule != 'task' && notificationread.is_setModule != 'note'">
              <div class="d-flex justify-content-between align-items-center">
                <p class="notification_content">{{notificationread.massage}}</p>
                <p class="notify_date">{{notificationread.date}} | {{notificationread.time}}</p>
              </div>
            </div>
          </div>
          <div class="pagination_bar" *ngIf="(notificationlistRead?.length || 0) > itemsPerPage">
            <button class="pagination_btn" (click)="prevReadPage()" [disabled]="readCurrentPage === 1">Previous</button>
            <span class="pagination_text">Page {{ readCurrentPage }} of {{ readTotalPages }}</span>
            <button class="pagination_btn" (click)="nextReadPage()" [disabled]="readCurrentPage === readTotalPages">Next</button>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
