

.user_task_wrapper .nav-tabs,
.nav-tabs .nav-link,
.nav-tabs .nav-link.active,
.nav-tabs .nav-link:hover {
  border: none;
}


.projects_tabs .nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  border: none;
  color: var(--white);
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: 10px;
  border: 2px solid #1c1f66;
  background-color: #1c1f66;
}

.projects_tabs .nav-tabs .nav-link,
.discussion_tab .nav-tabs .nav-link:hover {
  color: var(--lightgrey-666666);
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  border: 2px solid var(--light-grey-DDDDDD);
  border-radius: 10px;
  margin-right: 20px;
  padding: 10px 20px;
}
.custom_edit_icon .dropdown-toggle {
    background-color: white;
    border: none;
  }
  
  .custom_edit_icon .dropdown-toggle::after {
    display: none;
  }
  .custom_edit_icon .dropdown-menu.show {
    transform: translate(0px, 50px) !important;
  }

  .manage_searchbar{
    position: relative;
  }
  .searchbar_icon{
    position: absolute;
    top: 12px;
    right: 10px;
    background-color: white;
  }
  
.task_table_title {
    color: #ff5656;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    margin: 0;
    max-width: 170px;
  }
  .task_table {
    border-collapse: separate;
    border-spacing: 1px 10px;
  }
  .task_table tr th,
  .task_table tr td {
    font-size: 14px;
    color: #707070;
    font-weight: 400;
    line-height: 19px;
    vertical-align: middle;
  }
  
  .task_table thead tr {
    border-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    height: 55px;
  }
  .task_table tbody tr {
    // border-color: transparent;
    border: 1px solid #dddddd;
    border-style: solid !important;
    border-radius: 10px;
  }
  .user_active_status {
    position: absolute;
    content: "";
    width: 7px;
    height: 7px;
    background-color: #0cae00;
    border-radius: 100%;
    bottom: 9px;
    right: -3px;
  }

  
.projects_cards{
    display: grid;
}
.projects_cards .card-header{
  background-color: #FF5656;
  border-radius: 10px 10px 0 0;
  padding: 15px;
}
.projects_cards .card-body{
  border-radius: 0 0 10px 10px;
}
.project_name{
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  color: white;
  margin:0;
}
.project_date{
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: white;
  margin: 0;
}
.project_table_data {
    width: 100%;
}
.project_table_data tr {
  border-bottom: 1px dashed #DDDDDD;
  margin: 10px 0;
}
.project_table_data tr td{
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  color: #111111;
  padding: 10px 0;
}