.footer_copy_right{
    font-size: 14px;
    color: #666666;
    font-weight: 400;
    text-transform: capitalize;
}
.footer_copy_right a{
    font-size: 14px;
    color: #666666;
    font-weight: 400;
    text-transform: capitalize;
    text-decoration: none;
}

