<ngx-spinner bdColor="rgba(0, 0, 0, 0.3)" size="medium" color="#fff" type="timer" [fullScreen]="true"></ngx-spinner>
<main>
  <section class="user_task_wrapper">
    <div class="row align-items-center mb-4">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <div>
          <a [routerLink]="['/company-details',companyId]" class="me-3"><img
              src="../../../assets/img/dashboard/back-arrow.svg" width="35px" height="35px" alt="" /></a>

          <span class="task_table_title">Status</span>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <div class="d-flex align-items-center gap-3 justify-content-end">
          <div class="manage_searchbar">
            <input type="text" formControlName="searchQueryControl" (input)="filterItems($event)" class="form-control"
              id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Search here..." />
            <img src="../../../assets/img/dashboard/search-icon.png" alt="search" class="searchbar_icon" />
          </div>
          <div>
            <a *ngIf="userpermission?.add !== 0" class="add_task_btn" data-bs-toggle="modal"
              data-bs-target="#addStatuscolorModal">
              Add New Status
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="user_task_wrapper task-table">
      <div class="card">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table task_table">
              <thead>
                <tr>
                  <th class="assign_role">Color</th>
                  <th class="assign_role">Status Name</th>
                  <th class="assign_role">Preview</th>
                  <th class="assign_role">Status</th>
                  <th class="assign_role" *ngIf="userpermission?.edit !== 0">Action</th>
                </tr>
              </thead>
              <tbody class="dream-table" *ngFor="let status of statuslist">
                <tr>
                  <td><span [style.background-color]="status.code" class="status_closed_color"></span></td>
                  <td>{{ status.status }}</td>
                  <td><span [style.background-color]="status.code" class="status_bg"> <span class="status_closed_color">
                        {{ status.status }}</span></span></td>
                  <td *ngIf="status.is_action == 0">Active</td>
                  <td *ngIf="status.is_action == 1">
                    <div class="priority_wrapper" [matMenuTriggerFor]="statusMenu" aria-label="status">
                      <button *ngIf="status.is_active == 0" mat-icon-button>
                        Active
                      </button>
                      <button *ngIf="status.is_active == 1" mat-icon-button>
                        Inactive
                      </button>
                    </div>

                    <mat-menu #statusMenu="matMenu" class="priority_inner">
                      <div>
                        <button mat-menu-item (click)="selectStatus(status.id, '0')">
                          <span>Active</span>
                        </button>
                      </div>
                      <div>
                        <button mat-menu-item (click)="selectStatus(status.id, '1')">
                          <span>Inactive</span>
                        </button>
                      </div>
                    </mat-menu>
                  </td>
                  <td class="">
                    <div>
                      <a *ngIf="status.is_action == 1 && userpermission?.edit !== 0" href="javascript:void(0)"
                        data-bs-toggle="modal" data-bs-target="#editStatuscolorModal" (click)="editStatus(status.id)">
                        <img src="../../../assets/img/dashboard/table-edit-icon.svg" alt="" class="me-4" />
                      </a>
                      <a *ngIf="status.is_action == 1 && userpermission?.edit !== 0" href="javascript:void(0)" (click)="deleteservicesopendialogue(status.id)">
                      <img src="../../../assets/img/dashboard/table-delete-icon.svg" alt="" data-bs-toggle="modal" data-bs-target="#deleteModal" class="me-4" />
                    </a>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<!-- add Status color Modal -->
<div class="modal fade" id="addStatuscolorModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title new_task_title" id="exampleModalLabel">Add Stauts</h5>
        <img src="../../../assets/img/dashboard/popup-close-btn.svg" data-bs-dismiss="modal" aria-label="Close" alt=""
          class="popup_close_btn_client_add" />
      </div>
      <div class="modal-body">
        <form role="form" #submitForm="ngForm" (ngSubmit)="insertstatus(submitForm.value, submitForm)">
          <div class="form_field mb-3">
            <mat-form-field>
              <input matInput ngModel name="status" placeholder="Status Name" />
            </mat-form-field>
          </div>

          <div>
            <color-sketch [color]="state" (onChange)="handleChange($event)" ng-model="test"></color-sketch>
          </div>
          <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
              <button class="btn submit_btn">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- End add Status Color Modal -->

<!-- Edit Status color Modal -->
<div class="modal fade" id="editStatuscolorModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title new_task_title" id="exampleModalLabel">Update Stauts</h5>
        <img src="../../../assets/img/dashboard/popup-close-btn.svg" data-bs-dismiss="modal" aria-label="Close" alt=""
          class="popup_close_btn_status_update" />
      </div>
      <div class="modal-body">
        <form [formGroup]="editForm">
          <div class="form_field mb-3">
            <mat-form-field>
              <input matInput [(ngModel)]="statuslistedit.status" formControlName="status" placeholder="Status Name" />
              <mat-error *ngIf="editForm.get('status')?.hasError('required')">Status Name is required</mat-error>
            </mat-form-field>
            <input type="hidden" [(ngModel)]="statuslistedit.id" formControlName="statusId" />
          </div>
          <!-- <div class="form_field mb-3">
            <mat-form-field>
              <mat-error *ngIf="editForm.get('statusId')?.hasError('required')">Status id is required</mat-error>
            </mat-form-field>
          </div> -->

          <div>

            <color-sketch [color]="state" (onChange)="handleChange($event)" ng-model="test" formControlName="code"
              [(ngModel)]="statuslistedit.code"></color-sketch>
          </div>
          <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
              <button class="btn submit_btn" (click)="UpdateStatus()">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- End Edit Status Color Modal -->

<!-- Edit Status color Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title new_task_title" id="exampleModalLabel">Delete Stauts</h5>
        <img src="../../../assets/img/dashboard/popup-close-btn.svg" data-bs-dismiss="modal" aria-label="Close" alt=""
          class="popup_close_btn_status_update" />
      </div>
      <div class="modal-body">
        <h2 class="task_complete_title">
          Are you sure you want to delete this Status?
        </h2>
        <div class="row">
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
            <button class="btn submit_btn" (click)="confirmDelete()" data-bs-dismiss="modal" aria-label="Close">Yes</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Edit Status Color Modal -->
