<main>
  <section class="user_task_wrapper">
    <div class="container-fluid">
      <div class="my-4">
        <a class="discussion_back_btn">
          <img
            src="../../../assets/img/dashboard/back-btn.svg"
            alt=""
            class="me-2"
          />Back</a
        >
      </div>

      <div class="projects_cards">
        <div class="row">
          <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">
            <div class="card">
              <div class="card-header">
                <div class="d-flex align-items-center justify-content-between">
                  <div>
                    <h2 class="project_name">Moments</h2>
                  </div>
                  <div class="d-flex gap-3 align-items-sm-center">
                    <div>
                      <p class="discussion_creater_name">
                        Created By: Arvind Rajput On 19th August, 2023
                      </p>
                    </div>
                    <a href="javascript:void(0)">
                      <img
                        src="../../../assets/img/dashboard/project-edit-icon.svg"
                        alt=""
                    /></a>
                    <a href="javascript:void(0)"
                      ><img
                        src="../../../assets/img/dashboard/project-delete-icon.svg"
                        alt=""
                    /></a>
                  </div>
                </div>
              </div>
              <div class="card-body table-responsive">
                <table class="project_table_data">
                  <tbody>
                    <tr>
                      <td>Title:</td>
                      <td>Note 2</td>
                    </tr>
                    <tr>
                      <td>Project Name:</td>
                      <td>Pamsiddh</td>
                    </tr>
                    <tr>
                      <td>Description:</td>
                      <td>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Donec mattis lacinia arcu, id aliquam quam tempus sed.
                        Nulla volutpat vel ante ut gravida. Cras nec molestie
                        ligula. Etiam scelerisque cursus nisl, non sollicitudin
                        lorem bibendum eget. Orci varius
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
            <div class="card">
                <h2 class="discussion_attach_file_title">Files</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
