<main>
    <section class="login_wrapper">
      <div class="container-fluid login_bg_container">
        <div class="row align-items-center">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 p-0 h-100">
            <div class="form_video">
              <div class="login_bg">
                <video width="100%" height="100%" autoplay>
                  <source
                    src="../../../assets/img/dashboard/login-video.mp4"
                    type="video/mp4"
                  />
                </video>
              </div>
            </div>
          </div>
          <div
            class="col-xl-6 col-lg-6 col-md-6 col-sm-12 main_login position-relative z-3 h-100"
          >
            <div>
              <img
                src="../../../assets/img/dashboard/login-logo.svg"
                class="main_logo"
                alt="logo"
              />
  
              <h1 class="login_title">Reset password</h1>
              <p class="login_content">
                Enter your registered email address we'll send you to reset password link
              </p>
              <form class="login_form" role="form" #submitFormbilling="ngForm" (ngSubmit)="updateuserpassword(submitFormbilling.value)">
                <div class="login_form_wrapper">
                  <div class="form-floating login_form mb-3">
                    <mat-form-field class="password_field">
                      <input matInput #input [type]="hide ? 'password' : 'text'" ngModel placeholder="Old Password" name="oldPassword" />
                      <button
                        mat-icon-button
                        matSuffix
                        (click)="hide = !hide"
                        [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide"
                      >
                        <mat-icon>{{
                          hide ? "visibility_off" : "visibility"
                        }}</mat-icon>
                      </button>
                  </mat-form-field>
                    <mat-form-field class="password_field">
                        <input  matInput #input [type]="hide ? 'password' : 'text'" ngModel placeholder="New Password" name="password" />
                        <button
                          mat-icon-button
                          matSuffix
                          (click)="hide = !hide"
                          [attr.aria-label]="'Hide password'"
                          [attr.aria-pressed]="hide"
                        >
                          <mat-icon>{{
                            hide ? "visibility_off" : "visibility"
                          }}</mat-icon>
                        </button>
                    </mat-form-field>
                    <mat-form-field class="password_field">
                      <input  matInput #input [type]="hide ? 'password' : 'text'" ngModel placeholder="Confirm Password" name="confirmpassword" />
                        <button
                          mat-icon-button
                          matSuffix
                          (click)="hide = !hide"
                          [attr.aria-label]="'Hide password'"
                          [attr.aria-pressed]="hide"
                        >
                          <mat-icon>{{
                            hide ? "visibility_off" : "visibility"
                          }}</mat-icon>
                        </button>
                      </mat-form-field>
                  </div>
                </div>
                <div class="d-flex align-items-center mt-4 ">
                  <button class="btn submit_btn">Update</button>
                </div>
              </form>
              
              <div>
                <span class="login_route">  </span
                ><a
                  routerLink="/dashboard"
                  routerLinkActive="router-link-active"
                  class="forgot_link"
                  >Back to Dashboard
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  