<main>
  <section class="user_task_wrapper">
    <div class="container-fluid">
      <div class="mb-4">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
              <nav class="projects_tabs">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                      <a routerLink="/dms">Dms</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                      Moments
                    </li>
                  </ol>
                </nav>
              </nav>

              <div class="dropdown">
                <div
                  id="dropdownMenuButton1"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  <a class="add_task_btn"> Add</a>
                </div>
                <ul
                  class="dropdown-menu dms_file_dropdown"
                  aria-labelledby="dropdownMenuButton1"
                >
                  <a data-bs-toggle="modal" data-bs-target="#addFfiles">
                    <li>Files</li></a
                  >
                  <a data-bs-toggle="modal" data-bs-target="#addFolder">
                    <li>Folder</li></a
                  >
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="projects_cards">
        <div class="card">
          <div class="card-body">
            <div class="row align-items-center mb-4">
              <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">
                <h2 class="company_name">Files</h2>
              </div>
            </div>

            <div class="table-responsive">
              <table class="table role_table">
                <thead>
                  <tr>
                    <th class="assign_role">Name</th>
                    <th>Owner</th>
                    <th>Last Modified</th>
                    <th>File Size</th>
                  </tr>
                </thead>
                <tbody class="dream-table">
                  <tr>
                    <td>
                      <p-image  src="https://cdn.pixabay.com/photo/2023/11/25/15/45/mountains-8411954_1280.jpg" alt="Image" width="50" class=" me-3" [preview]="true"></p-image>
                     
                      <span>46_folderimage.jpg</span>
                    </td>
                    <td>Arvind Rajput</td>
                    <td>Arvind Rajput, Aug 19, 2023</td>
                    <td>0.19MB</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>



<!-- add files modal start -->

<div
  class="modal fade"
  id="addFfiles"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title new_task_title" id="exampleModalLabel">
          Share File with People
        </h5>
        <img
          src="../../../assets/img/dashboard/popup-close-btn.svg"
          data-bs-dismiss="modal"
          aria-label="Close"
          alt=""
          class="popup_close_btn"
        />
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="exampleInputdiscussion" class="form-label"
              >Select attachmens *</label
            >
            <input
              type="file"
              id="fileInput"
              multiple
              (change)="onFilesSelected($event)"
              accept="image/*"
              class="form-control project_files"
            />
          </div>

          <div class="file-container">
            <div *ngFor="let file of selectedFiles" class="file-item">
              <div class="file-preview">
                <img
                  [src]="getPreviewUrl(file)"
                  alt="{{ file.name }}"
                  class="file-image"
                />
              </div>
              <div class="file-details d-flex">
                <p class="file-name">{{ file.name }}</p>
                <button class="remove-button" (click)="removeFile(file)">
                  x
                </button>
              </div>
            </div>
          </div>

          <div class="mb-3">
            <label for="exampleInputdiscussion" class="form-label"
              >Project *</label
            >
            <select class="form-select" aria-label="Default select example">
              <option selected>Open this select menu</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>

          <button class="btn submit_btn">Done</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- add files modal end -->

<!-- add folder modal start -->

<div
  class="modal fade"
  id="addFolder"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <img
          src="../../../assets/img/dashboard/popup-close-btn.svg"
          data-bs-dismiss="modal"
          aria-label="Close"
          alt=""
          class="popup_close_btn"
        />
      </div>
      <div class="modal-body">
        <h2 class="new_task_title">Share File with People</h2>

        <form>
          <div class="mb-3">
            <label for="exampleInputdiscussion" class="form-label"
              >Select attachmens *</label
            >
            <input type="text" class="form-control" />
          </div>

          <div class="mb-3">
            <label for="exampleInputdiscussion" class="form-label"
              >Project *</label
            >
            <select class="form-select" aria-label="Default select example">
              <option selected>Open this select menu</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>

          <button class="btn submit_btn">Done</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- add folder modal end -->

<!--  share with people modal start -->

<div
  class="modal fade"
  id="share-with-people"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <img
          src="../../../assets/img/dashboard/popup-close-btn.svg"
          data-bs-dismiss="modal"
          aria-label="Close"
          alt=""
          class="popup_close_btn"
        />
      </div>
      <div class="modal-body">
        <h2 class="new_task_title">Share with people</h2>

        <form>
          <div class="mb-3">
            <label for="exampleInputdiscussion" class="form-label"
              >Title *</label
            >
            <input
              type="text"
              class="form-control"
              id="discussion-title"
              aria-describedby="discussiomHelp"
            />
          </div>

          <div class="mb-3">
            <label for="exampleInputdiscussion" class="form-label"
              >Project *</label
            >
            <select class="form-select" aria-label="Default select example">
              <option selected>Open this select menu</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>

          <button class="btn submit_btn">Done</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- share with  modal end -->
