

.projects_cards a {
  text-decoration: none;
}
.projects_tabs .breadcrumb {
  margin: 0;
}
.projects_tabs .breadcrumb a {
  text-decoration: none;
  color: #1c1f66;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
}
.projects_tabs .breadcrumb li {
  color: #1c1f66;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
}
.company_name {
  color: #ff5656;
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  margin: 0;
}

.project_table_data {
  width: 100%;
}
.project_table_data tr {
  border-bottom: 1px dashed #dddddd;
  margin: 10px 0;
}
.project_table_data tr td {
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  color: #111111;
  padding: 10px 0;
}

.project_files input[type="file"] {
  width: 100%;
  background-color: white;
}
.file-container {
  margin: 20px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.file-item {
  display: flex;
  border: 1px solid #1c1f66;
  width: 300px;
  border-radius: 10px;
}
.file-preview {
  width: 100px;
}

.file-image {
  width: 100px;
  height: 100px;
}

.file-name {
  color: #1c1f66;
  margin: 0;
}
button.remove-button {
  border: none;
  border-radius: 50%;
  position: relative;
  top: -16px;
  height: 30px;
  width: 30px;
}

.task_table {
  border-collapse: separate;
  border-spacing: 1px 10px;
}
.task_table tr th,
.task_table tr td {
  font-size: 14px;
  color: #707070;
  font-weight: 400;
  line-height: 19px;
  vertical-align: middle;
}

.task_table thead tr {
  border-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  height: 55px;
}
.task_table tbody tr {
  border: 1px solid #dddddd;
  border-style: solid !important;
  border-radius: 10px;
}

.client_short_alphabets {
  background-color: #2cb3c8;
  color: #fff;
  font-size: 14px;
  line-height: 19px;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  margin-right: 10px;
}

.assign_role {
  min-width: 550px;
  max-width: calc(100% - 550px);
  width: calc(100% - 550px);
}
.role_table {
  border-collapse: separate;
  border-spacing: 1px 10px;
}

.role_table tr th {
  color: #111111;
  font-size: 14px;
  font-weight: 400;
  vertical-align: middle;
}
.role_table tr td {
  color: #111111;
  font-size: 14px;
  font-weight: 400;
  vertical-align: middle;
}

.role_table tbody {
  border: 1px solid #dddddd;
}

.role_table .role_type {
  font-size: 18px !important;
  line-height: 24px !important;
  font-weight: 600 !important;
  color: #111111 !important;
}

.role_table thead tr {
  border-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  height: 55px;
}

.role_table tr td {
  border-bottom: 1px dashed #dddddd;
}

.role_table tbody .assign-role-inner td {
  border: none;
}
.dms_list_img {
  width: 44px;
  height: 44px;
}


.dms_file_dropdown {
  min-width: 13rem;
  padding: 15px;
  transform: translate(6px, 51px) !important;
  box-shadow: 0 3px 20px #39698838;
  border: none;
}
.dms_file_dropdown a {
  text-decoration: none;
  border-bottom: 1px solid #dddddd;
}

.dms_file_dropdown a {
  // padding: 12px 25px;
}
.dms_file_dropdown a li {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #111111;
  padding: 12px 10px;
  cursor: pointer;
}
.dms_file_dropdown a li:last-child {
  border: none;
}
.dms_file_dropdown a:hover li {
  color: white;
  background-color: #1c1f66;
  border-radius: 5px;
}
.dms_file_dropdown a:hover {
  background-color: #1c1f66;
  border-radius: 5px;
  color: white;
}