body {
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 400;
  color: white;
}

:root {
  --white: #fff;
  --black: #000;
  --black-111111: #111111;
  --grey-A7A9AC: #a7a9ac;
  --red-FF5656: #ff5656;
  --grey-707070: #707070;
  --blue-1C1F66: #1c1f66;
  --green-6ACF7B: #6acf7b;
  --light-grey-DDDDDD: #dddddd;
  --orange-FCA349: #fca349;
  --lightgrey-666666: #666666;
}

.login_bg {
  background-image: url(../../../assets/img/dashboard/login-bg.jpg);
  background-position: center;
  background-size: cover;
  height: 900px;
  position: relative;
  z-index: 99;
}
.login_bg_container {
  position: relative;
}
// .login_bg_container::before {
//   content: "";
//   position: absolute;
//   top: 0;
//   left: -53%;
//   background-image: url(../../../assets/img/dashboard/login-bg.jpg);
//   background-position: center;
//   background-size: cover;
//   height: 900px;
//   z-index: 1;
//   width: 100%;
// }
// .login_bg_container::after {
//   content: "";
//   position: absolute;
//   top: 0;
//   right: 0%;
//   height: 900px;
//   z-index: 1;
//   width: 50%;
//   background-color: #FAFBFF;
// }


.main_login{
  padding: 50px;
}
.main_logo{
  margin-bottom: 50px;
}

.login_title {
  font-size: 36px;
  font-weight: 400;
  line-height: 80px;
  color: var(--blue-1C1F66);
  margin: 0;
}
.login_content {
  font-family: 18px;
  font-weight: 400;
  line-height: 39px;
  color: var(--blue-1C1F66);
}

.login_label {
  color: #999999;
  font-size: 14px;
  font-weight: 400;
}

.showpass_toggle {
  position: absolute;
  color: #bbbbbb;
  right: 20px;
  top: 22px;
}

.login_checkbox {
  width: 25px;
  height: 25px;
}
.login_checkbox:focus {
  box-shadow: none;
  outline: none;
}
.login_checkbox:checked {
  background-color: var(--blue-1C1F66);
  box-shadow: none;
  outline: none;
}
.login_checkbox_label {
  color: var(--lightgrey-666666);
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  margin: 10px 0 0 10px;
}

.login_route {
  color: #999999;
  font-size: 14px;
  font-weight: 400;
  line-height: 32px;
  text-decoration: none;
}

.forgot_link {
  color: #1c1f66;
  font-size: 15px;
  font-weight: 600;
  line-height: 32px;
  text-decoration: none;
}


.signup_btn {
  color: #919191;
  font-size: 17px;
  font-weight: bold;
  line-height: 32px;
  text-transform: uppercase;
  border-radius: 10px;
  border: 1px solid #bbbbbb;
  padding: 8px 26px;
  margin: 15px 0 50px 0;
}

.password_field{
  width: 100%;
}

.example-container mat-form-field + mat-form-field {
  margin-left: 8px;
}
::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline,
::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple{
  background-color: transparent !important;
}


.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-floating-label, .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-floating-label--float-above {
  color: #999999 !important;
}

.password_field .mdc-text-field--filled:not(.mdc-text-field--disabled){
  border: none !important;
}

.password_field .mat-icon{
  color: #BBBBBB;
}

.example-full-width {
  width: 100%;
}

.login_form{
  max-width: 700px;
}
.login_wrapper .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before{
  border-bottom-color: #DDDDDD;
}




@media only screen and (max-width: 1535px) {
  .login_bg_container::after {
    height: 100%;
  }
  .main_login{
    padding: 30px;
  }
  .main_login img{
    width: 250px;
  }
  .main_logo{
    margin-bottom: 30px;
  }
  .login_title{
    font-size: 32px;
    line-height: 60px;
  }
}
